/* /////////////////////////Cookie Clicker/////////////////////////////////// */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* //////////////////////////////////////////////////////////// */
body {
    user-select: none;
    padding-top: 30px;
    background: url(./img/cookie.jpg);
    background-color: black;
    background-blend-mode: luminosity;
    width: 500px;
    height: 300px;
    margin-left: 348px;
    text-align: center;
    color: #d1953f;
    font-family: 'Zen Loop', cursive;
}                                           
/* //////////////////////////////////////////////////////////// */
p {
    font-size: 20px;
    display: block;
    margin: 5px;
}
/* //////////////////////////////////////////////////////////// */
img {
    filter: drop-shadow(black 5px 3px 20px);
    border-radius: 120px;
    cursor: pointer;
    position: relative;
    right: 38px;
    top: 140px;
    user-select: none;
    width: 232px;
}
/* //////////////////////////////////////////////////////////// */
.levelup{
    cursor: pointer;
    display: block;
    position: relative;
    left: 81px;
    top: -46px;
    width: 60px;
    margin: auto;
    opacity: 0.8;
}
/* //////////////////////////////////////////////////////////// */
#optionone {
    position: relative;
    bottom: 20px;
    left: 285px;
    color: white;
    background-color: #ec0000;
    border-radius: 10px;
    padding: 0px;
    width: 200px;
    height: 91px;
    cursor: pointer;
}
/* //////////////////////////////////////////////////////////// */
#optionone:hover {
    background-color: #0a0a0a98;
    transition: 3s;
}
/* //////////////////////////////////////////////////////////// */
table {
    position: relative;
    bottom: 375px;
    right: 395px;
    margin: auto;
    width: 264px;
    font-size: 25px;
}
/* //////////////////////////////////////////////////////////// */
td {
    border:1px dashed;
    border-radius: 10px;
}
/* //////////////////////////////////////////////////////////// */
#numbers {
    margin: auto;
    padding-top: 12px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #1738596b;
    border: 5px dashed transparent;
    width: 204px;
    height: 72px;
    position: relative;
    left: 284px;
    bottom: 260px;
}
/* //////////////////////////////////////////////////////////// */
#upgradeLevel {
    margin: auto;
    padding-top: 5px;
    font-size: 36px;
    border-radius: 10px;
    background-color: #1738596b;
    border: 5px dashed transparent;
    width: 204px;
    height: 72px;
    position: relative;
    left: 286px;
    bottom: 10px;
}
/* //////////////////////////////////////////////////////////// */
.cost {
    border-radius: 26px;
    width: 200px;
    position: relative;
    bottom: 385px;
    right: 315px;
    font-size: 20px;
    font-weight: 800;
    background-color: #4875056e;
}

/* //////////////////////////////////////////////////////////// */
